<div class="container">
  <div class="d-flex justify-content-between align-items-center my-4">
    <h2>Movie Management</h2>
    <button routerLink="/add" class="btn btn-success">Add New Movie</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Genre</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies; let i = index">
          <td>{{ i + 1}}</td>
          <td>{{ movie.name }}</td>
          <td>{{ movie.genre }}</td>
          <td>
            <button
              (click)="editMovie(movie.id!)"
              class="btn btn-primary btn-sm me-2"
            >
              Edit
            </button>
            <button
              (click)="deleteMovie(movie.id!)"
              class="btn btn-danger btn-sm"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
